<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/mhm.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>

<body style="background-color:darkslategray">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <img src="~/images/tabby.png" alt="Tabby cat" />
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">TabbyAcatemy</a>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Courses" class="nav-link">Courses</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>


            <div class="row align-items-start blah">
                <div class="col">
                    <ul class="list-group">
                        <li class="list-group-item">Prerequisites</li>
                        <li class="list-group-item">Readings</li>
                        <li class="list-group-item">Videos</li>
                        <li class="list-group-item">Activities</li>
                        <li class="list-group-item">Quizzes</li>
                    </ul>
                </div>
            </div>


    <div class="container" style="background-color:darkslategray">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>