@{
    ViewBag.Title = "Tabby Acatemy";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Tabby Acatemy!</h1>
    <br />
    <h2>Learn about lots of neat technical stuff...</h2>
    <h3>with cats...</h3>
</div>