@model IEnumerable<Course>

@{
    ViewBag.Title = "Courses";
}

<div class="card-deck">
    @foreach (var course in Model)
    {
        var photoPath = "~/images/" + (course.PhotoPath ?? "constructionCat.png");
        <div class="card bg-dark m-3" style="min-width: 18rem; max-width:30.5%;">
            <div class="card-header text-white">
                <h5>@course.Name</h5>
            </div>

            <img class="card-img-top imageThumbnail" src="@photoPath"
                 asp-append-version="true" />
            
            <div class="card-footer text-center">       
                <a asp-controller="Courses" asp-action="@course.Name" class="btn btn-info m-1">View</a>
            </div>
        </div>
    }
</div>